<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Teams</th>
    </tr>
    </thead>
    <tbody>
    {% for indes,user in users %}
    <tr>
        <th scope="row">{{ indes }}</th>
        <td>{{ user.firtsName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.teams }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>